@page
@model StockSolutions.Pages.Bottles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bottle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bottle.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bottle.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bottle.Formula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bottle.Formula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bottle.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bottle.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bottle.AmountUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bottle.AmountUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bottle.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bottle.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Bottle.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
